.button {
  padding: 15px;
  cursor: pointer;
  border: .5px solid #ffffff;
  border-radius:4px;
  margin-right: 15px;
  color: #000;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  &:hover{
    box-shadow: inset 2px 2px 1px rgba(0, 0, 0, .3);
  }
  &:focus{
    outline: none;
  }
}

.main {
  background: #4185EE;
  color: #fff;
}

.success{
  background: #B1EB63;
}

.error{
  background: rgba(215, 27, 27, 0.96);
}

.button:disabled {
  background: #ccc;
  color: #000;
  cursor: not-allowed;
  &:hover {
    box-shadow: none;
  }
}