.QuizCreator{
  background: linear-gradient(270deg, #f0613c 0%, #f0783c 100%);
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 150px;
}

@mixin width($len: 600px) {
  width: 100%;
  max-width: $len;
}

.Wrapper {
  @include width;
  hr {
    @include width;
    margin-bottom: 15px;
  }
  form {
    input:not(first-of-type){
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      @include width(190px);
    }
    input:last-of-type{
      margin-bottom: 25px;
    }
    select {
      margin-bottom: 10px;
    }
  }
}